<div class="row">
    <div class="col-md-8">
      This is the homepage, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis consequuntur commodi esse similique, nobis, sit incidunt tempore perferendis molestiae neque eveniet minima veniam, cupiditate laborum magni animi beatae assumenda nulla?
    </div>
    <div class="col-md-4 sidebar">
      This is the sidebar
    </div>
</div>